BOT_TOKEN=BOT_TOKEN
OLLAMA_TRANSLATE_MODEL=translategemma
OLLAMA_SUMMARY_MODEL=translategemma
OLLAMA_CORRECTION_MODEL=translategemma

WHISPER_MODEL_SIZE_FILE=large-v3
WHISPER_MODEL_SIZE_LIVE=medium
WHISPER_COMPUTE_TYPE=int8

AUDIO_FILTER=loudnorm
ENABLE_STT_CORRECTION=true

DEFAULT_UI_LANGUAGE=en
TEMP_DIR=temp
OUTPUT_DIR=outputs
MAX_FILE_SIZE_MB=150
PREVIEW_CHARS=850